.env
.env.local
.env.production
node_modules
npm-debug.log*
.DS_Store
__pycache__/
*.pyc
.env.save
.env.save

# Personal study sources. Never commit copyrighted books or their extracted text.
private/
